* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



h1 {
    margin-top: 20px;
    text-align: center;
}

#input {
    min-width: 95vw;
    max-width: 95vw;
    min-height: 150px;
    max-height: 150px;
    background-color: gainsboro;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    border-style: none;
    font-size: large;

}

#addbutton {
    border-radius: 10px;
    background-color: #36454F;
    color: white;
    border-style: none;
    padding: 10px;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;

}

#notesConainer {
    margin: auto;
}

.parentDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin : 20px;
   
}

.newDiv {
    background-color: rgb(197, 194, 194);
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 83vw;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}


.buttonsDiv{
    display: flex;
    gap: 10px;
}

.editBtn, .deleteBtn {
    background-color: #36454F ;
    color: white;
    
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}